<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Headings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Headings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [value]="selectedC" (ionChange)="segmentChanged($event)" mode="md" scrollable>
    <ion-segment-button [value]="category" *ngFor="let category of categories">
      <ion-label class="ion-text-capitalize">
        {{ category }}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-articles [Articles] = "Articles"></app-articles>
  <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData()">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
